#pragma code_page(65001)
1 VERSIONINFO
FILEVERSION THE_FILVERSION
PRODUCTVERSION THE_FILEVERSION
FILEFLAGMASK 0x00000003Fl // VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0
FFILEOS 0x00040004l // VOS_NT_WINDOWS32
FILETYPE 0x00000001l // VFT_APP
FILESUBTYPE 0x00000000l // VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "FileDescription", THE_PROJECT
            VALUE "FileVersion", THE_VERSION
            VALUE "ProductVersion", THE_VERSION
            VALUE "ProductName", THE_PROJECT
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x4B0
    }
}
1 ICON "res/icon.ico"